apiVersion: v1
kind: PersistentVolume
metadata:
  name: example
spec:
  capacity:
    storage: 2Ti
  local:
    path: /mnt/local-storage/{{ storageclass }}/{{ scsiID }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  storageClassName: {{ storageclass }}
  claimRef:
    kind: PersistentVolumeClaim
    namespace: openshift-storage
  VolumeMode: Block
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - {{ nodename }}
status:
  phase: Bound
