apiVersion: v1
kind: Namespace
metadata:
  name: {{ ns }}
{% if ns == 'openshift-storage' %}
  labels:
    openshift.io/cluster-monitoring: "true"
{% elif ns == 'openshift-operators-redhat' or ns == 'openshift-logging' %}
  annotations:
    openshift.io/node-selector: ""
  labels:
    openshift.io/cluster-monitoring: "true"
{% endif %}
