.vscode*
*/.openshift_install.log
**/openshift-install
resources/certs
resources/openshift-installer-4.10
ansible/install-dir
#Sansible/kustomize-dir/groups-role-bindings/
#ansible/kustomize-dir/ldapcron/
#ansible/kustomize-dir/oauth/
