kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-from-{{ connectns }}-namespace
  namespace: {{ basens }}
spec:
  podSelector: {}
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ connectns }}
  policyTypes:
    - Ingress
status: {}