apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfigPool
metadata:
  name: {{ item }}
spec:
  machineConfigSelector:
    matchExpressions:
      - {key: machineconfiguration.openshift.io/role, operator: In, values: [worker, {{ item }}]}
  nodeSelector:
    matchLabels:
      node-role.kubernetes.io/{{ item }}: ""
{% if item == 'storage' %}
      node-role.kubernetes.io/infra: ""
{% elif item == 'infra' %}
    matchExpressions:
      - key: node-role.kubernetes.io/storage
        operator: DoesNotExist
{% endif %}
  paused: false
