apiVersion: v1
kind: Secret
metadata:
  name: openshift-api-certificate
  namespace: openshift-config
type: kubernetes.io/tls
data:
  tls.crt: |
    {{ api_crt | b64encode }}
  tls.key: |
    {{ api_key | b64encode }}
