apiVersion: v1
kind: Secret
metadata:
  name: openshift-wildcard-cert
  namespace: openshift-ingress
type: kubernetes.io/tls
data:
  tls.crt: |
    {{ app_crt | b64encode }}
  tls.key: |
    {{ app_key | b64encode }}