apiVersion: v1
kind: Secret
metadata:
  name: azure-connect
  namespace: ocp4-gitops-apps
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
data:
  password: |
    {{ ArgoCDRepoDevSvc | b64encode }}
  project: |
    {{ 'olb' | b64encode }}
  type: |
    {{ 'git' | b64encode }}
  url: |
    {{ argocd.dev_repo_url | b64encode }}
  username:
    {{ 'ArgoCDRepoDevSvc' | b64encode }}