# Make sure to replace vsphere-upi-ghsrv with your specific Cluster API name
# https://access.redhat.com/solutions/5307621

apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  creationTimestamp: null
  labels:
    machine.openshift.io/cluster-api-cluster: {{ infraID }}
  name: {{ infraID }}-{{ role_assigned }}
  namespace: openshift-machine-api
spec:
  replicas: 3
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ infraID }}
      machine.openshift.io/cluster-api-machineset: {{ infraID }}-{{ role_assigned }}
  template:
    metadata:
      creationTimestamp: null
      labels:
        machine.openshift.io/cluster-api-cluster: {{ infraID }}
        machine.openshift.io/cluster-api-machine-role: infra
        machine.openshift.io/cluster-api-machine-type: infra
        machine.openshift.io/cluster-api-machineset: {{ infraID }}-{{ role_assigned }}
    spec:
      metadata:
        creationTimestamp: null
        labels:
          node-role.kubernetes.io/{{ role_assigned }}: ""
{% if role_assigned == 'storage' %}
          node-role.kubernetes.io/infra: ""
          cluster.ocs.openshift.io/{{ role_assigned }}: ""
          cluster.ocs.openshift.io/openshift-{{ role_assigned }}: ""
{% endif %}
{% if role_assigned == 'infra' %}
      taints:
      - key: node-role.kubernetes.io/{{ role_assigned }}
        effect: NoSchedule
        value: "reserved"
      - key: node-role.kubernetes.io/{{ role_assigned }}
        effect: NoExecute
        value: "reserved"
{% endif %}
{% if role_assigned == 'storage' %}
      taints:
      - key: node.ocs.openshift.io/{{ role_assigned }}
        effect: NoSchedule
        value: "true"
{% endif %}
      providerSpec:
        value:
          apiVersion: vsphereprovider.openshift.io/v1beta1
          credentialsSecret:
            name: vsphere-cloud-credentials
          diskGiB: 120
          kind: VSphereMachineProviderSpec
{% if role_assigned == 'storage' %}
          memoryMiB: {{ vmconfig.storage.ram }}
{% elif role_assigned == 'infra' %}
          memoryMiB: {{ vmconfig.infra.ram }}
{% endif %}
          metadata:
            creationTimestamp: null
          network:
            devices:
            - networkName: {{ vcenter_cluster.network }}
{% if role_assigned == 'storage' %}
          numCPUs: {{ vmconfig.storage.cpu }}
          numCoresPerSocket: {{ vmconfig.storage.core }}
{% elif role_assigned == 'infra' %}
          numCPUs: {{ vmconfig.infra.cpu }}
          numCoresPerSocket: {{ vmconfig.infra.core }}
{% else %}
          numCoresPerSocket: 1
{% endif %}
          snapshot: ""
          template: {{ vcenter_cluster.template_name }}
          userDataSecret:
            name: worker-user-data
          workspace:
{% if cluster == "mprod" or cluster == 'mquay'  %}
            datacenter: {{ vcenter.m_datacenter }}
            datastore: {{ vcenter.m_datastore }}
            server: {{ vcenter.m_host }}
            resourcePool: /{{ vcenter.m_datacenter }}/host/{{ vcenter_cluster.cluster_name }}/Resources
{% else %}
            datacenter: {{ vcenter.datacenter }}
            datastore: {{ vcenter.datastore }}
            server: {{ vcenter.host }}
            resourcePool: /{{ vcenter.datacenter }}/host/{{ vcenter_cluster.cluster_name }}/Resources
{% endif %}
            folder: {{ vcenter_cluster.folder_path }}{{ vcenter_cluster.folder_name }}
