apiVersion: v1
kind: ConfigMap
metadata:
  name: ldap-group-syncer
  namespace: {{ group_sync.ns }}
  labels:
    app: cronjob-ldap-group-sync
data:
  sync.yaml: |
    kind: LDAPSyncConfig
    apiVersion: v1
    url: {{ group_sync.sync_config_url }}
    bindDN: {{ group_sync_env.bindDN }}
    insecure: false
    bindPassword:
      file: "/etc/secrets/bindPassword"
    ca: /etc/ldapconfig/ca.crt
    augmentedActiveDirectory:
      groupsQuery:
          baseDN: "{{ group_sync.groupsQuery.baseDN }}"
          scope: sub
          derefAliases: never
          pageSize: 0
      groupUIDAttribute: dn
      groupNameAttributes: [ sAMAccountName ]
      usersQuery:
          baseDN: "{{ group_sync.usersQuery.baseDN }}"
          scope: sub
          derefAliases: never
          filter: (objectClass=person)
          pageSize: 0
      userNameAttributes: [ sAMAccountName ]
      groupMembershipAttributes: [ memberOf ]
