apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ group_sync.namespace }} 
  name: ldap-ca-config-map
  labels:
    app: cronjob-ldap-group-sync
data:
  ca.crt: |
    {{ ldap_ca_crt | indent(width=4) }}