apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ group_sync.ns }} 
  name: ldap-ca-config-map
  labels:
    app: cronjob-ldap-group-sync
data:
  ca.crt: |
    {{ ca_bundle_crt | indent(width=4) }}