kind: ConfigMap
apiVersion: v1
metadata:
  name: ldap-group-syncer-whitelist
  namespace: {{ group_sync.namespace }}
  labels:
    app: cronjob-ldap-group-sync
data:
  whitelist.txt: |
    {{ group_sync.whitelist | indent(width=4) }}
